<div class="row">
  <div class="col-md-12 divnavbar fixed-top">
    <nav class="navbar navbar-expand-lg">
      <img class="logofatimabenzaoui" src="assets/img/logofatimabenzaoui.png" title="Dans impossible, il y a toujours un possible !">
      <a class="navbar-brand mr-auto" href="#">myAngularApp</a>
      <span class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="show()">
        <a class="navbar-toggler-icon"><i class="fa fa-bars mt-2 ml-4"></i></a>
      </span>
      <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{show: visibility}">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" [routerLink]="['']" routerLinkActive="active">nasaStellarApp</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/bases']" routerLinkActive="active">Bases</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
