<div class="container-examples">
<!-- INTERPOLATION -->

<h2 class="mt-5 h2-examples">Interpolation</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript</h3>
    <pre>
import &#123; Component, OnInit &#125; from '@angular/core';

@Component(&#123;
  selector: 'app-exemples',
  templateUrl: './exemples.component.html',
  styleUrls: ['./exemples.component.css']
})
export class ExemplesComponent implements OnInit &#123;
  <span class="info">title = 'Hello World';</span>
  constructor() &#123;&#125;
  ngOnInit(): void &#123;&#125;
&#125;
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">HTML</h3>
    <pre>
<span class="info">&#123; &#123; title &#125; &#125;</span>
</pre>
  </div>
  <div class="col-md-4">
    <h3 class="h3-examples">Aperçu</h3>
    <p class="text-center mt-5">{{ title }}</p>
  </div>
</div>

<!-- PROPERTY BINDING -->

<h2 class="mt-5 h2-examples">Property Binding</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript</h3>
    <pre>
import &#123; Component, OnInit &#125; from '@angular/core';

@Component(&#123;
  selector: 'app-exemples',
  templateUrl: './exemples.component.html',
  styleUrls: ['./exemples.component.css']
&#125;)
export class ExemplesComponent implements OnInit &#123;
  <span class="info">bgColor = 'orangered';</span>
  constructor() &#123;&#125;
  ngOnInit(): void &#123;&#125;
&#125;
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">HTML</h3>
    <pre>
&lt;div <span class="info">[style.backgroundColor]="bgColor"</span>&gt;&lt;/div&gt;
</pre>
  </div>
  <div class="col-md-4 text-center">
    <h3 class="h3-examples">Aperçu</h3>
    <div [style.backgroundColor]="bgColor" class="divpropertybindingbgc mt-5"></div>
  </div>
</div>

<!-- EVENT BINDING -->

<h2 class="mt-5 h2-examples">Event Binding</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript</h3>
    <pre>
import &#123; Component, OnInit &#125; from '@angular/core';

@Component(&#123;
  selector: 'app-exemples',
  templateUrl: './exemples.component.html',
  styleUrls: ['./exemples.component.css']
&#125;)
export class ExemplesComponent implements OnInit &#123;
  <span class="info">show = false;</span>
  <span class="info1">bgColor2 = 'deeppink';</span>
  constructor() &#123;&#125;
  ngOnInit(): void &#123;&#125;
  <span class="info">changeStatus() &#123;
    this.show = !this.show;
  &#125;</span>
  <span class="info1">changeColor(input) &#123;
    console.log(input.value);
    this.bgColor2 = input.value;
    input.value = '';
  &#125;</span>
&#125;
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">HTML</h3>
    <pre>
&lt;button <span class="info">(click)="changeStatus()"</span>&gt;SHOW - HIDE&lt;/button&gt;
&lt;div <span class="info">[hidden]="show"</span>&gt;&lt;/div&gt;

&lt;input 
  type="text"
  <span class="info1">#inputColor (change)="changeColor(inputColor)"</span>
&gt;
&lt;div <span class="info1">[style.backgroundColor]="bgColor2"</span>&gt;&lt;/div&gt;
</pre>
  </div>
  <div class="col-md-4 text-center">
    <h3 class="h3-examples">Aperçu</h3>
    <span (click)="changeStatus()" class="btn btn-secondary mt-3">Show - Hide</span>
    <div [hidden]="show" class="divpropertybindingshow mt-3 mx-auto"></div>

    <input #inputColor (change)="changeColor(inputColor)" type="text" class="form-control shadow-none w-50 mx-auto mt-5"
      placeholder="Enter a color">
    <div [style.backgroundColor]="bgColor2" class="divpropertybindingbgc mt-3"></div>
  </div>
</div>

<!-- TWO WAY BINDING -->

<h2 class="mt-5 h2-examples">Two Way Data Binding</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript</h3>
    <pre>
import &#123; Component, OnInit &#125; from '@angular/core';

@Component(&#123;
  selector: 'app-exemples',
  templateUrl: './exemples.component.html',
  styleUrls: ['./exemples.component.css']
&#125;)
export class ExemplesComponent implements OnInit &#123;
  <span class="info">bgColor3 = 'red';</span>
  constructor() &#123;&#125;
  ngOnInit(): void &#123;&#125;
&#125;
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">HTML</h3>
    <pre>
&lt;input <span class="info">[(ngModel)]="bgColor3"</span> type="text"&gt;
&lt;div <span class="info">[style.backgroundColor]="bgColor3"</span>&gt;&lt;/div&gt;
&lt;p&gt;Contenu propriété bgColor3 : <span class="info">&#123; &#123; bgColor3 &#125; &#125;</span>&lt;/p&gt;
</pre>
  </div>
  <div class="col-md-4 text-center">
    <h3 class="h3-examples">Aperçu</h3>
    <input [(ngModel)]="bgColor3" type="text" class="form-control w-50 mx-auto mt-5">
    <div [style.backgroundColor]="bgColor3" class="divpropertybindingbgc mt-3"></div>
    <p>Contenu propriété bgColor3 : {{ bgColor3 }}</p>
  </div>
</div>

<!-- BINDING PARENT-ENFANT -->

<h2 class="mt-5 h2-examples">Binding Parent - Enfant</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript - enfant</h3>
    <pre>
import &#123; Component, OnInit,
<span class="info">Input, </span><span class="info1">Output, EventEmitter</span> &#125; from '@angular/core';

@Component(&#123;
  selector: 'app-enfant',
  templateUrl: './enfant.component.html',
  styleUrls: ['./enfant.component.css'],
&#125;)
export class EnfantComponent implements OnInit &#123;
  <span class="info">@Input() enfantProperty;</span>
  <span class="info1">@Output() sendRequestToData = new EventEmitter();</span>
  constructor() &#123;&#125;
  ngOnInit(): void &#123;&#125;
  <span class="info1">sendEvent() &#123;
    this.sendRequestToData.emit(
    ` message du composant enfant `
    );
  &#125;</span>
&#125;
</pre>
    <h3 class="h3-examples">HTML - enfant</h3>
    <pre>
&lt;p&gt;
  Contenu de la variable 'bgColor' de mon parent : 
  <span class="info">&#123; &#123; enfantProperty &#125; &#125;</span>
&lt;/p&gt;

&lt;button <span class="info1">(click)="sendEvent()"</span>&gt;Envoyer&lt;/button&gt;
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript - parent</h3>
    <pre>
import &#123; Component, OnInit &#125; from '@angular/core';

@Component(&#123;
  selector: 'app-parent',
  templateUrl: './parent.component.html',
  styleUrls: ['./parent.component.css']
&#125;)
export class ParentComponent implements OnInit &#123;
  <span class="info">bgColor = 'orangered';</span>
  constructor() &#123;&#125;
  ngOnInit(): void &#123;&#125;
  <span class="info1">processReq(message: any) &#123;
    alert(message);
  &#125;</span>
&#125;
</pre>
    <h3 class="h3-examples">HTML - parent</h3>
    <pre>
&lt;app-enfant 
  <span class="info">[enfantProperty]="bgColor"</span>
  <span class="info1">(sendRequestToData)="processReq($event)"</span>
&gt;
&lt;/app-enfant&gt;
</pre>
  </div>
  <div class="col-md-4 text-center">
    <h3 class="h3-examples">Aperçu</h3>
    <app-enfant [enfantProperty]="bgColor" (sendRequestToData)="processReq($event)"></app-enfant>
  </div>
</div>

<!-- DIRECTIVE NGSTYLE -->

<h2 class="mt-5 h2-examples">Directive ngStyle</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript - enfant</h3>
    <pre>
import &#123; Component, OnInit, 
<span class="info">Input</span> &#125; from '@angular/core';

@Component(&#123;
  selector: 'app-style',
  templateUrl: './style.component.html',
  styleUrls: ['./style.component.css']
&#125;)
export class StyleComponent implements OnInit &#123;
  <span class="info">@Input() colorngstyle = 'purple';</span>
  <span class="info">@Input() bgngstyle = 'orange';</span>
  <span class="info">size = '20px';</span>
  constructor() &#123;&#125;
  ngOnInit(): void &#123;&#125;
  <span class="info">changeSize(size) &#123;
    this.size = size + 'px';
  &#125;</span>
&#125;
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">HTML - enfant</h3>
    <pre>
&lt;div <span class="info">[ngStyle]="&#123;
    'color' : colorngstyle,
    'backgroundColor' : bgngstyle,
    'fontSize' : size
    'width' : '100px',
    'height' : '100px'
  &#125;"</span>
&gt;
  Test
&lt;/div&gt;

&lt;input <span class="info">[(ngModel)]="colorngstyle"</span> type="text"&gt;
&lt;input <span class="info">[(ngModel)]="bgngstyle"</span> type="text"&gt;
&lt;input <span class="info">#sizeInput (change)="changeSize(sizeInput.value)"</span>
type="number"&gt;
</pre>
    <h3 class="h3-examples">HTML - parent</h3>
    <pre>
&lt;app-ngstyle
  <span class="info">[colorngstyle]="'yellow'" 
  [bgngstyle]="'red'"</span>
&gt;&lt;/app-ngstyle&gt;
</pre>
  </div>
  <div class="col-md-4 text-center">
    <h3 class="h3-examples">Aperçu</h3>
    <app-ngstyle [colorngstyle]="'yellow'" [bgngstyle]="'red'"></app-ngstyle>
  </div>
</div>

<!-- DIRECTIVE NGCLASS -->

<h2 class="mt-5 h2-examples">Directive ngClass</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript</h3>
    <pre>
import &#123; Component, OnInit &#125; from '@angular/core';

@Component(&#123;
selector: 'app-class',
templateUrl: './class.component.html',
styleUrls: ['./class.component.css']
&#125;)
export class ClassComponent implements OnInit &#123;
<span class="info">classngclass = true;</span>
constructor() &#123;&#125;
ngOnInit(): void &#123;&#125;
  <span class="info">changeClass() &#123;
  this.classngclass = !this.classngclass;
  &#125;</span>
&#125;
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">HTML</h3>
    <pre>
&lt;button (click)="changeClass()"&gt;changeClass&lt;/button&gt;
&lt;div <span class="info">[ngClass]="&#123;'classngclass': classngclass&#125;"</span>&gt;&lt;/div&gt;
</pre>
    <h3>CSS</h3>
    <pre>
<span class="info">.classngclass</span> &#123;
  background-color: navy;
  width: 100px;
  height: 100px;
  margin:0 auto;
  margin-top:10px;
&#125;
</pre>
  </div>
  <div class="col-md-4 text-center">
    <h3 class="h3-examples">Aperçu</h3>
    <span (click)="changeClass()" class="btn btn-secondary mt-5">changeClass</span>
    <div [ngClass]="{'classngclass': classngclass}"></div>
  </div>
</div>

<!-- CUSTOMISER UNE DIRECTIVE-->

<h2 class="mt-5 h2-examples">Customiser une directive</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript</h3>
    <pre>
import &#123; <span class="info">Directive, HostBinding,
HostListener</span> &#125; from '@angular/core';

<span class="info">@Directive</span>(&#123;
selector: '[appHighlight]'
&#125;)
export class HighlightDirective &#123;
  <span class="info">@HostBinding('style.backgroundColor') bg = '#485E74';</span>
  constructor() &#123;&#125;
  <span class="info">@HostListener('mouseenter') mouseenter() &#123;
    this.bg = '#C9E6FF';
  &#125;
  @HostListener('mouseleave') mouseleave() &#123;
    this.bg = '#485E74';
  &#125;</span>
&#125;
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">HTML</h3>
    <pre>
&lt;div <span class="info">appHighlight</span>&gt;ng g d highLight&lt;/div&gt;
</pre>
  </div>
  <div class="col-md-4 text-center">
    <h3 class="h3-examples">Aperçu</h3>
    <div appHighlight class="mt-2 p-5">ng g d highLight</div>
  </div>
</div>

<!-- DIRECTIVE *NGIF -->

<h2 class="mt-5 h2-examples">Directive *ngIf</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript</h3>
    <pre>
<span class="info">showngif = true;</span>
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">HTML</h3>
    <pre>
&lt;button <span class="info">(click)="showngif = !showngif"</span>&gt;&lt;/button&gt;
&lt;div <span class="info">*ngIf="showngif"</span>&gt;*ngIf="showngif"&lt;/div&gt;
</pre>
  </div>
  <div class="col-md-4 text-center">
    <h3 class="h3-examples">Aperçu</h3>
    <span (click)="showngif = !showngif" class="btn btn-secondary mt-2 btn-sm">*ngIf=""</span>
    <div *ngIf="showngif" class="mt-2">*ngIf="true"</div>

  </div>
</div>

<!-- DIRECTIVE *NGFOR -->

<h2 class="mt-5 h2-examples">Directive *ngFor</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript</h3>
    <pre>
<span class="info">colors = ['blue', 'red', 'yellow'];</span>
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">HTML</h3>
    <pre>
&lt;ol&gt;
  &lt;li <span class="info">*ngFor="let color of colors"</span>&gt;&#123; &#123; color &#125; &#125;&lt;/li&gt;
&lt;/ol&gt;
</pre>
  </div>
  <div class="col-md-4 text-center">
    <h3 class="h3-examples">Aperçu</h3>
    <ol class="list-group">
      <li *ngFor="let color of colors" class="list-group-item text-dark">{{ color }}</li>
    </ol>
  </div>
</div>

<!-- DatePipe -->

<h2 class="mt-5 h2-examples">DatePipe</h2>
<div class="row">
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">TypeScript</h3>
    <pre>
today: number = Date.now();
</pre>
  </div>
  <div class="col-md-4 border-right">
    <h3 class="h3-examples">HTML</h3>
    <pre>
&lt;p&gt;&#123; &#123; today<span class="info">|date:'dd/MM/yyyy H:mm'</span> &#125; &#125;&lt;/p&gt;
</pre>
  </div>
  <div class="col-md-4 text-center">
    <h3 class="h3-examples">Aperçu</h3>
    <p class="mt-3">{{ today|date:'dd/MM/yyyy H:mm' }}</p>
  </div>
</div>

<!-- OBSERVABLE -->

<h2 class="mt-5 h2-examples">Observable</h2>
<div class="row">
  <div class="col-md-6 border-right">
    <h3 class="h3-examples">TypeScript</h3>
    <pre>
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; Observable &#125; from 'rxjs';

@Component(&#123;
  selector: 'app-observable',
  templateUrl: './observable.component.html',
  styleUrls: ['./observable.component.css']
&#125;)
export class ObservableComponent implements OnInit &#123;
  monObservable: Observable&lt;string&gt;;
  mesImages = ['abo.png', 'aspicot.png', 'bulbizarre.png', 'carapuce.png', 'groupix.png', 'melofee.png', 'piafabec.png', 'pikachu.png', 'rattata.png', 'roucool.png', 'sabelette.png', 'salameche.png'];
  currentImage: string;
  constructor() &#123;}
  ngOnInit(): void &#123;
    this.monObservable = new Observable( (observer) => &#123;
      let i = this.mesImages.length - 1;
      setInterval( () => &#123;
        observer.next(this.mesImages[i]);
        if (i > 0) &#123;
          i--;
        &#125; else &#123;
          i = this.mesImages.length - 1;
        &#125;
      &#125;, 1500);
    &#125;);
    this.monObservable.subscribe( (result) => &#123;
      console.log(result);
      this.currentImage = result;
    &#125;);
  &#125;
&#125;
</pre>
  </div>
  <div class="col-md-6">
    <h3 class="h3-examples">HTML</h3>
    <pre>
&lt;img src="assets/img/&#123; &#123; currentImage &#125; &#125;" alt=""&gt;
</pre>
    <h3 class="h3-examples mt-2">Aperçu</h3>
    <app-observable></app-observable>
  </div>
</div>

</div>
