<div class="row">
    <div class="col-md-12 mt-5 divfooter">
        <footer>
            <div class="partie-footer">
                <ul class="reseauxsociaux">
                    <li><a href="https://github.com/fatimabenzaoui" target="_blank" class="fa fa-github-square"></a></li>
                    <li><a href="https://www.facebook.com/benzaouifatima" target="_blank" class="fa fa-facebook-square"></a></li>
                    <li><a href="https://www.instagram.com/fatimabenzaoui" target="_blank" class="fa fa-instagram"></a></li>
                    <li><a href="https://www.linkedin.com/in/fatima-benzaoui" target="_blank" class="fa fa-linkedin"></a></li>
                    <li><a href="https://twitter.com/fatimabenzaoui" target="_blank" class="fa fa-twitter-square"></a></li>
                </ul>
                <div class="copyright">&copy; 2020 | Fatima Benzaoui | All Rights Reserved</div>
            </div>
        </footer>
    </div>
</div>