<div class="mt-5">
<h1 class="mt-5 pt-1">Les bases d'Angular</h1>

<!-- ENVIRONNEMENT -->

<h2 (click)="showEnvironnement()" appHighlight>Environment</h2>
<pre [hidden]="showEnv" class="border p-3">
<a href="https://nodejs.org/en/" target="_blank">Télécharger Node</a>
Tester : node --version

<a href="https://augury.rangle.io/" target="_blank">Installer Angular Augury sur Chrome</a>

Installer des extensions sur VSCode :
Angular Snippets
Angular2-inline
Auto Import

<a href="https://cli.angular.io/" target="_blank">Se documenter sur Angular/CLI</a>
npm install -g @angular/cli
ng new my-app
ng serve
</pre>

<!-- DEPENDENCIES -->

<h2 (click)="showDependances()" appHighlight>Dependencies</h2>
<pre [hidden]="showDep" class="border p-3">
npm i bootstrap --save
npm i font-awesome --save

Modifier le fichier styles.css :
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
</pre>

<!-- MODULES -->

<h2 (click)="showModules()" appHighlight>Modules</h2>
<pre [hidden]="showMod" class="border p-3">
import &#123; BrowserModule &#125; from '@angular/platform-browser';
import &#123; NgModule &#125; from '@angular/core';
import &#123; HttpClientModule &#125; from '@angular/common/http';
import &#123; FormsModule &#125; from '@angular/forms';
import &#123; ReactiveFormsModule &#125; from '@angular/forms';
import &#123; AppRoutes &#125; from './app.routes';
import &#123; AppComponent &#125; from './app.component';

@NgModule(&#123;
declarations: [
  AppComponent
],
imports: [
  BrowserModule,
  HttpClientModule,
  FormsModule,
  ReactiveFormsModule,
  AppRoutes,
],
providers: [],
bootstrap: [AppComponent]
&#125;)

export class AppModule &#123; &#125;
</pre>

<!-- COMPONENTS -->

<h2 (click)="showComponents()" appHighlight>Components</h2>

<pre [hidden]="showComp" class="border p-3">
ng g c my-component
</pre>


<!-- DATA BINDING -->

<h2 (click)="showDataBinding()" appHighlight>Data Binding</h2>
<div >
<pre [hidden]="showDataBind" class="border p-3 divdata">
<span class="text-primary">Interpolation</span>
&#123; &#123; variable &#125; &#125;

<span class="text-primary">Property Binding</span>
[style.backgroundColor]="variable"
[hidden]="variable"

<span class="text-primary">Event Binding</span>
(click)="methode()"
(change)= "methode()"
(keyup)= "methode()"

<span class="text-primary">Two Way Data Binding</span>
[(ngModel)]="variable"
</pre>

<!-- DIRECTIVES -->

<h2 (click)="showDirectives()" appHighlight>Directives</h2>
<pre [hidden]="showDir" class="border p-3">
<span class="text-primary">Directives d'attribut</span>
[ngStyle]="&#123;'proprietecss': variable&#125;"
[ngClass]="&#123;'attributclass': variable&#125;"

<span class="text-primary">Directives structurelles</span>
*ngIf="variable"
*ngFor="let clef of array"

<span class="text-primary">Créer une directive</span>
ng g d my-directive
&lt;div my-directive&gt;&lt;/div&gt;
</pre>

<!-- PIPES -->

<h2 (click)="showPipes()" appHighlight>Pipes</h2>
<pre [hidden]="showPip" class="border p-3">
&#123; &#123; objet|uppercase &#125; &#125;
&#123; &#123; objet|titlecase &#125; &#125;
&#123; &#123; objet|json &#125; &#125;
&#123; &#123; objet|date:'dd/MM/yyyy H:mm' &#125; &#125;

ng g p my-pipe
&#123; &#123; objet|my-pipe &#125; &#125;
</pre>

<!-- SERVICES -->

<h2 (click)="showServices()" appHighlight>Services</h2>
<pre [hidden]="showServ" class="border p-3">
ng g s my-service
</pre>

<!-- ROUTES - ROUTERMODULE -->

<h2 (click)="showRouting()" appHighlight>Routes et RouterModule</h2>
<pre [hidden]="showRout" class="border p-3">
import &#123; Routes, RouterModule &#125; from '@angular/router';

import &#123; HomeComponent &#125; from './home/home.component';
import &#123; BasesComponent &#125; from './bases/bases.component';
import &#123; ErrorComponent &#125; from './error/error.component';

const routes: Routes = [
  &#123; path: '', component: HomeComponent, pathMatch: 'full' &#125;,
  &#123; path: 'bases', component: BasesComponent &#125;,
  &#123; path: '**', component: ErrorComponent &#125;,
];

export const AppRoutes = RouterModule.<span class="text-primary">forRoot(routes)</span>;
</pre>

<!-- ROUTERLINK - ROUTERLINKACTIVE -->

<h2 (click)="showRouterLink()" appHighlight>routerLink - routerLinkActive</h2>
<pre [hidden]="showRoutL" class="border p-3">
&lt;nav class="navbar navbar-expand-lg"&gt;
  &lt;img src="../../assets/img/logofatimabenzaoui.png"&gt;
  &lt;a class="navbar-brand mr-auto" href="#">myAngularApp&lt;/a&gt;
  &lt;button <span class="text-primary">(click)="show()"</span> class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"&gt;
    &lt;span class="navbar-toggler-icon"&gt;&lt;i class="fa fa-bars"&gt;&lt;/i&gt;&lt;/span&gt;
  &lt;/button&gt;
  &lt;div class="collapse navbar-collapse" id="navbarNav" <span class="text-primary">[ngClass]="&#123; show: visibility &#125;"</span>&gt;
    &lt;ul class="navbar-nav ml-auto"&gt;
      &lt;li class="nav-item"&gt;&lt;a class="nav-link" <span class="text-primary">[routerLink]="['']" routerLinkActive="active"</span>&gt;Nasa-APOD-App &lt;/a&gt;&lt;/li&gt;
      &lt;li class="nav-item"&gt;&lt;a class="nav-link" <span class="text-primary">[routerLink]="['/bases']" routerLinkActive="active"</span>&gt;Bases&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/nav&gt;
</pre>

<!-- ROUTER - ACTIVATEDROUTE -->

<h2 (click)="showRouter()" appHighlight>Router - ActivatedRoute</h2>
<pre [hidden]="showRouterlien" class="border p-3">
import &#123; Router, ActivatedRoute &#125; from '@angular/router';
</pre>

<!-- FORMS -->

<h2 (click)="showForms()" appHighlight>Forms</h2>
<pre [hidden]="showForm" class="border p-3">
import &#123; FormGroup, FormBuilder, Validators &#125; from '@angular/forms';
</pre>

<!-- OBSERVABLES -->

<h2 (click)="showObservables()" appHighlight>Observables</h2>
<pre [hidden]="showObserv" class="border p-3">
import &#123; Observable &#125; from 'rxjs';
</pre>

<!-- HTTPCLIENT -->

<h2 (click)="showHttpClient()" appHighlight>HttpClient</h2>
<pre [hidden]="showHttpCli" class="border p-3">
import &#123; HttpClient &#125; from '@angular/common/http';
</pre>

<!-- HTTPINTERCEPTOR -->

<h2 (click)="showHttpInterceptor()" appHighlight>HttpInterceptor</h2>
<pre [hidden]="showHttpInterc" class="border p-3">
import &#123; HttpInterceptor, HttpRequest, HttpHandler, HttpEvent, HTTP_INTERCEPTORS, HttpParams &#125; from '@angular/common/http';
import &#123; Observable &#125; from 'rxjs';

export class LoginInterceptor implements HttpInterceptor &#123;
<span class="text-primary">intercept(</span>
  req: HttpRequest&lt;any&gt;,
  next: HttpHandler
<span class="text-primary">)</span>: Observable&lt;HttpEvent&lt;any&gt;&gt; &#123;
  const token = <span class="text-primary">localStorage</span>.getItem('token');
    if (token) &#123;
      const cloneReq = req.<span class="text-primary">clone(</span> &#123; params: new HttpParams().set('access_token', token) &#125; <span class="text-primary">)</span>;
      return next.handle(cloneReq);
    &#125; else &#123;
      return next.handle(req);
    &#125;
  &#125;
&#125;

export const LoginInterceptorProvider = &#123;
  provide: HTTP_INTERCEPTORS,
  useClass: LoginInterceptor,
  multi: true,
&#125;;
</pre>

<!-- CANACTIVATE-->

<h2 (click)="showCanActivate()" appHighlight>CanActivate</h2>
<pre [hidden]="showCanActiv" class="border p-3">
import &#123; CanActivate, ActivatedRouteSnapshot, RouterStateSnapshot &#125; from '@angular/router';

export class LoginGuard implements CanActivate &#123;
  <span class="text-primary">canActivate(</span>
    route: ActivatedRouteSnapshot,
    state: RouterStateSnapshot
  <span class="text-primary">)</span>: boolean |
  import("@angular/router").UrlTree |
  import("rxjs").Observable&lt;boolean |
  import("@angular/router").UrlTree> |
  Promise&lt;boolean |
  import("@angular/router").UrlTree> &#123;
    const token=localStorage.getItem('token'); 
    <span class="text-success">// récupère et convertit le token en un booléen (!!)</span>
    return (!! token);
  &#125;
&#125;

-------------------------------------------------------------------------------------------------------------------------------

import &#123; CanActivate, ActivatedRouteSnapshot, RouterStateSnapshot &#125; from '@angular/router';

export class LogoutGuard implements CanActivate &#123;
<span class="text-primary">canActivate(</span>
  route: ActivatedRouteSnapshot,
  state: RouterStateSnapshot
<span class="text-primary">)</span>: boolean |
import("@angular/router").UrlTree |
import("rxjs").Observable&lt;boolean |
import("@angular/router").UrlTree&gt; |
Promise&lt;boolean |
import("@angular/router").UrlTree&gt; &#123; 
    const token=localStorage.getItem('token');
    if (token) &#123;
      return false; 
    &#125; else &#123;
      return true;
    &#125;
  &#125;
&#125;
</pre>

<!-- DEPLOY -->

<h2 (click)="showDeploy()" appHighlight>Deploy</h2>
<pre [hidden]="showDeployGhPages" class="border p-3">
<strong>Deployer sur GitHub avec gh-pages</strong>
ng build --prod (création du dossier dist)
npm install http-server -g
http-server dist/myangularapp (port:8080)

npm i angular-cli-ghpages --sav-dev
ng build --prod --base-href "https://fatimabenzaoui.github.io/myAngularApp/"
npx angular-cli-ghpages --dir=dist/myangularapp

<strong>Déployer sur Heroku</strong>
// Installer express
npm i express --save
// Modifier package.js
"scripts": {
    "start": "node server.js"
}
// Créer un fichier server.js à la racine du projet
const express = require('express');

const app = express();

app.use(express.static('./dist/myangularapp'));

app.get('/*', (req, res) =>
    res.sendFile('index.html', {root: 'dist/myangularapp/'}),
);

app.listen(process.env.PORT || 8080);
</pre>
</div>
