h1 {
  text-align: center;
  color: #007BFF;
}

h2 {
  text-align: center;
  cursor:pointer;
  border:1px solid silver;
  padding-left: 10px;
  width:75%;
  margin: 0 auto;
}

pre {
  color: #CCC;
  width:75%;
  margin: 0 auto;
  background-color: #252526;
}
.divdata {
    width:75%;
    margin: 0 auto;
    text-align: left;
}
.info {
  color: orangered;
}

a:hover {
  text-decoration: none;
}
