
<h1 class="mt-5 p-5 text-center">myContactApp</h1>
<!-- <app-liste-contact (selectedPersonne)="selectPersonne($event)" [personnes]="personnes"></app-liste-contact> -->
<div class="row">
  <div class="col-md-10 mx-auto mb-5">
    <!-- <h2>Aperçu ContactApp</h2> -->
    <app-liste-contact
      ngOnInit="getPersonnes()"
      [personnes]="personnes"
      (detailContact)="moreDetails($event)"
      ></app-liste-contact>
    <app-detail-contact
      *ngIf="detailContact"
      [personne]="detailContact"
    ></app-detail-contact>
  </div>


<!-- MODEL/PERSONNE.TS -->

  <div class="col-md-4">
    <h2>Model/Personne.ts</h2>
<pre class="ascenseur">
export class Personne &#123;
  id: number;
  avatar: string;
  firstname: string;
  name: string;
  pseudo: string;
  email: string;
  tel : string;

  constructor(
      id = 0, avatar = '', firstname = '', name = '',
      pseudo = '', email = '', tel=''
  ) &#123;
    this.id = id;
    this.avatar = avatar;
    this.firstname = firstname;
    this.name = name;
    this.pseudo = pseudo;
    this.email = email;
    this.tel = tel;
  &#125;
&#125;
</pre>
  </div>

<!-- CONTACT.SERVICE.TS -->

  <div class="col-md-4">
    <h2>contact.service.ts</h2>
<pre class="ascenseur">
import &#123; Observable &#125; from 'rxjs';
import &#123; HttpClient &#125; from '@angular/common/http';
import &#123; Injectable &#125; from '@angular/core';
import &#123; Personne &#125; from './../Model/Personne';

@Injectable(&#123;
  providedIn: 'root',
&#125;)
export class ContactService &#123;
  private personnes: Personne[];
  link = 'http://localhost:3000/api/contacts/';
  constructor(
    private http: HttpClient
  ) &#123;
    this.personnes = [
      new Personne(1, 'pikachu.png', ...),
      new Personne( 2, 'sabelette.png', ...)
    ];
  &#125;
  getPersonnes(): Observable&lt;Personne[]&gt; &#123;
    return this.http.get&lt;Personne[]&gt;(this.link);
  &#125;
  getFakePersonnes(): Personne[] &#123;
    return this.personnes;
  &#125;
  getPersonneById(id: number): Observable&lt;Personne&gt; &#123;
    <small>return this.http.get&lt;Personne&gt;(this.link + `/$&#123;id&#125;`);</small>
  &#125;
  addContact(personne: Personne): Observable&lt;any&gt; &#123;
    return this.http.post(this.link, personne);
  &#125;
  deleteContact(id: number) &#123;
    return this.http.delete(this.link + `/$&#123;id&#125;`);
  &#125;
  updateContact(personne: Personne) &#123;
    return this.http.put(this.link, personne);
  &#125;
&#125;

<small><span class="text-success">// OLD VERSION (FRONT)
// getPersonnes(): Personne[] &#123;
//   return this.personnes;
// &#125;
// getPersonneById(id: number): Personne &#123;
// const personne = this.personnes.find((personne) => &#123;
//   return personne.id == id;
// &#125;);
//   return personne;
// &#125;
// addContact(personne: Personne): void &#123;
//   personne.id = this.personnes[this.personnes.length - 1].id + 1;
//   this.personnes.push(personne);
// &#125;</span></small>
</pre>
  </div>

<!-- DEFAULTIMAGE.PIPE -->

<div class="col-md-4">
  <h2>default-image.pipe.ts</h2>
  <pre>
import &#123; Pipe, PipeTransform &#125; from '@angular/core';

@Pipe(&#123;
  name: 'defaultImage'
&#125;)
export class DefaultImagePipe implements PipeTransform &#123;
  transform(value: string, ...args: any): string &#123;
    if (!value) &#123;
      return 'defaultimg.png';
    &#125;
    return value;
  &#125;
&#125;
</pre>
  </div>

<!-- CONTACT.COMPONENT-->

  <div class="col-md-4 mt-5">
    <h2>contact.component</h2>
<pre class="ascenseur">
<span class="text-success">// TypeScript</span>
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; Personne&#125; from './../../Model/Personne';
import &#123; ContactService &#125; from './../contact.service';

@Component(&#123;
  selector: 'app-contact',
  templateUrl: './contact.component.html',
  styleUrls: ['./contact.component.css']
&#125;)
export class ContactComponent implements OnInit &#123;
  personnes: Personne[];
  detailContact: Personne;
  personne: Personne;
  constructor(
    private contactService: ContactService
  ) &#123;&#125;
  ngOnInit(): void &#123;
    <small>this.contactService.getPersonnes().subscribe(
      (personnes) => &#123;
        this.personnes = personnes;
      &#125;,
      (error) => &#123;
        alert('Problème d\'accès à l\'api. 
        Les données affichées sont fausses');
        console.log(error);
        this.personnes = this.contactService.getFakePersonnes();
      &#125;
    );</small>
  &#125;
  moreDetails(personne) &#123;
    this.detailContact = personne;
  &#125;
&#125;

<span class="text-success">// OLD VERSION (FRONT)
//ngOnInit(): void &#123;
//  this.personnes = this.contactService.getPersonnes();
//&#125;</span>

<span class="text-success">// HTML</span>
&lt;app-liste-contact
  [personnes]="personnes"
  (detailContact)="moreDetails($event)"
&gt;&lt;/app-liste-contact&gt;

&lt;app-detail-contact
  *ngIf="detailContact"
  [personne]="detailContact"
&gt;&lt;/app-detail-contact&gt;
</pre>
  </div>

<!-- LISTE-CONTACT.COMPONENT -->

<div class="col-md-4 mt-5">
  <h2>liste-contact.component</h2>
<pre class="ascenseur">
<span class="text-success">// TypeScript</span>
import &#123; Component, OnInit,
Input, Output, EventEmitter &#125; from '@angular/core';
import &#123; Personne &#125; from './../../Model/Personne';
import &#123; Router &#125; from '@angular/router';

@Component(&#123;
  selector: 'app-liste-contact',
  templateUrl: './liste-contact.component.html',
  styleUrls: ['./liste-contact.component.css']
&#125;)
export class ListeContactComponent implements OnInit &#123;
  @Input() personnes: Personne[];
  @Output() detailContact = new EventEmitter();
  constructor(
    private router: Router
  ) &#123;&#125;
  ngOnInit(): void &#123;&#125;
  moreDetails(detailContact) &#123;
    this.detailContact.emit(detailContact);
  &#125;
  goToAddContact() &#123;
    const link = ['contactapp/add'];
    this.router.navigate(link);
  &#125;
&#125;

<span class="text-success">// HTML</span>
&lt;button (click)="goToAddContact()"&gt;ADD&lt;/button&gt;
&lt;ol class="list-group text-dark"&gt;
  &lt;app-item-contact
    *ngFor="let personne of personnes"
    [personne]="personne"&gt;
    (detailContact)="moreDetails($event)"
  &lt;/app-item-contact&gt;
&lt;/ol&gt;
</pre>
</div>

<!-- ITEM-CONTACT.COMPONENT -->

<div class="col-md-4 mt-5">
  <h2>item-contact.component</h2>
<pre class="ascenseur">
<span class="text-success">// TypeScript</span>
import &#123; Component, OnInit,
Input, Output, EventEmitter &#125; from '@angular/core';
import &#123; Personne &#125; from './../../Model/Personne';
<small>import &#123; Router, ActivatedRoute &#125; from '@angular/router';
import &#123; DefaultImagePipe &#125; from './../default-image.pipe';</small>
import &#123; ContactService &#125; from './../contact.service';

@Component(&#123;
selector: 'app-item-contact',
templateUrl: './item-contact.component.html',
styleUrls: ['./item-contact.component.css']
&#125;)
export class ItemContactComponent implements OnInit &#123;
  @Input() personne: Personne;
  @Output() detailContact = new EventEmitter();
  defaultImage: DefaultImagePipe;
  show = false;
  constructor(
    private router: Router,
    private contactService: ContactService,
    private activatedRoute: ActivatedRoute
  ) &#123;&#125;
  ngOnInit(): void &#123;
    <small>this.activatedRoute.params.subscribe(
      (params) => &#123;
        this.contactService.getPersonneById(params.id).subscribe(
          (personne) => &#123;
            this.personne = personne;
          &#125;
        );
    &#125;);</small>
  &#125;
  moreDetails() &#123;
    this.detailContact.emit(this.personne);
  &#125;
  selectContact() &#123;
    const link = ['contactapp', this.personne.id];
    this.router.navigate(link);
  &#125;
  updateContact() &#123;
    <small>const link = ['contactapp/update', this.personne.id];
    this.router.navigate(link);</small>
  &#125;
  deleteContact() &#123;
    <small>this.contactService.deleteContact(this.personne.id).subscribe(
      (response) => &#123; this.show = !this.show; &#125;,
      (error) => &#123; console.log(error); &#125;
    );</small>
  &#125;
&#125;

<span class="text-success">// HTML</span>
&lt;li [hidden]="show" class="list-group-item"&gt;
  &lt;img
    <small>src="assets/images/&#123; &#123; personne.avatar|defaultImage &#125; &#125;"
     alt="&#123; &#123; personne.pseudo &#125;</small>
  &gt;
  &lt;span&gt;&#123; &#123; personne.firstname|titlecase &#125; &#125;
  &#123; &#123; personne.name|titlecase &#125; &#125;&lt;/span&gt;
  &lt;span class="float-right"&gt;
    &lt;button (click)="moreDetails()"&gt;MORE&lt;/button&gt;
    &lt;button (click)="selectContact()"&gt;SELECT&lt;/button&gt;
    &lt;button (click)="updateContact()"&gt;UPDATE&lt;/button&gt;
    &lt;button (click)="deleteContact()"&gt;DELETE&lt;/button&gt;
  &lt;/span&gt;
&lt;/li&gt;
  </pre>
</div>





</div>