<div class="d-flex justify-content-center mt-5 p-4" *ngIf="personne">
  <div class="col-lg-8 push-lg-4">
        <div class="d-flex justify-content-center">
          <img src="assets/images/{{ personne.avatar|defaultImage }}" width="150px" height="150px"
            class="rounded-circle align-center">
        </div>
        <h4 class="text-center">{{ personne.firstname|titlecase }} {{ personne.name|titlecase }}</h4>
        <div class="row">
          <div class="col-md-12">
            <h4 class="m-t-2 d-inline">Détails</h4>
            <button (click)="deleteContact()" class="btn btn-danger btn-sm d-inline mb-2 ml-2 float-right">DELETE</button>
            <button (click)="updateContact(personne.id)" class="btn btn-success btn-sm d-inline mb-2 ml-2 float-right">UPDATE</button>
            
            <table class="table table-hover table-striped text-info table-bordered">
              <tbody>
                <tr>
                  <td><strong>Name :</strong> {{ personne?.name|uppercase }}</td>
                </tr>
                <tr>
                  <td><strong>Firstname :</strong> {{ personne?.firstname|titlecase }}</td>
                </tr>
                <tr>
                  <td><strong>Pseudo :</strong> {{ personne?.pseudo|titlecase }}</td>
                </tr>
                <tr>
                  <td><strong>Email :</strong> {{ personne?.email }}</td>
                </tr>
                <tr>
                  <td><strong>Phone : </strong> {{ personne?.tel }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p class="text-right"><a (click)="goToContactApp()" class="internlink">&lt;- Go to ContactApp</a></p>
  </div>
</div>

<!-- SELECT-CONTACT.COMPONENT -->

<div class="row mt-5">
  <div class="col-md-6">
    <h2>select-contact.component.ts</h2>
    <pre class="ascenseur">
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; Personne &#125; from './../../Model/Personne';
import &#123; ContactService &#125; from './../contact.service';
import &#123; ActivatedRoute, Router &#125; from '@angular/router';

@Component(&#123;
  selector: 'app-select-contact',
  templateUrl: './select-contact.component.html',
  styleUrls: ['./select-contact.component.css']
&#125;)
export class SelectContactComponent implements OnInit &#123;
  personne: Personne;
  constructor(
    private contactService: ContactService,
    private activatedRoute: ActivatedRoute,
    private router: Router
  ) &#123;&#125;
  ngOnInit(): void &#123;
    this.activatedRoute.params.subscribe(
      (params) => &#123;
        <small>this.personne = this.contactService.getPersonneById(params.id);</small>
      &#125;
    );
  &#125;
  goToContactApp() &#123;
    const link = ['contactapp'];
    this.router.navigate(link);
  &#125;
&#125;
</pre>
  </div>

  <div class="col-md-6">
    <h2>select-contact.component.html</h2>
    <pre class="ascenseur">
&lt;div *ngIf="personne"&gt;
  &lt;img src="assets/images/&#123; &#123; personne.avatar &#125; &#125;"&gt;

  &lt;h4 class="text-center"&gt;
    &#123; &#123; personne.firstname|titlecase &#125; &#125;
    &#123; &#123; personne.name|titlecase&#125; &#125;
  &lt;/h4&gt;

  &lt;table&gt;
    &lt;tbody&gt;
      &lt;tr&gt;&lt;td&gt;&#123; &#123; personne?.name|uppercase &#125; &#125;&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;&#123; &#123; personne?.firstname|titlecase &#125; &#125;&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;&#123; &#123; personne?.pseudo|titlecase &#125; &#125;&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;&#123; &#123; personne?.email &#125; &#125;&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;&#123; &#123; personne?.tel &#125; &#125;&lt;/td&gt;&lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;

  &lt;a (click)="goToContactApp()"&gt;Go to ContactApp&lt;/a&gt;
&lt;/div&gt;
</pre>
  </div>