<div class="row mt-5">
    <h2 class="">Détails du contact</h2>
    <table class="table text-white">
        <thead>
            <tr>
                <th>Name</th><th>Email</th><th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ personne?.firstname|titlecase }} {{ personne?.name|uppercase }}</td>
                <td>{{ personne?.email }}</td>
                <td>{{ personne?.tel }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>detail-contact.component.ts</h2>
<pre class="ascenseur">
import &#123; Component, OnInit, Input &#125; from '@angular/core';
import &#123; Personne &#125; from './../../Model/Personne';

@Component(&#123;
    selector: 'app-detail-contact',
    templateUrl: './detail-contact.component.html',
    styleUrls: ['./detail-contact.component.css']
})
export class DetailContactComponent implements OnInit &#123;
    @Input() personne: Personne;
    
    constructor() &#123;&#125;
    ngOnInit(): void &#123;&#125;
&#125;
</pre>
        </div>
        <div class="col-md-6">
            <h2>Detail-contact.component.html</h2>
    <pre class="ascenseur">
<small>&lt;table&gt;
    &lt;thead&gt;
        &lt;tr&gt;
        &lt;th&gt;Name&lt;/th&gt;&lt;th&gt;Email&lt;/th&gt;&lt;th&gt;Phone&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
        &lt;td&gt;&#123; &#123; personne?.firstname|titlecase &#125; &#125; &#123; &#123; personne?.name|uppercase&#125; &#125;&lt;/td&gt;
        &lt;td&gt;&#123; &#123; personne?.email &#125; &#125;&lt;/td&gt;
        &lt;td&gt;&#123; &#123; personne?.tel &#125; &#125;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</small>
</pre>
    </div>
</div>